<div class="" style="margin-top:20px">
       <div class="doNotPrint" style="margin-left: 150px;margin-right:150px " ><button class="btn btn-primary" printSectionId="contentToview"   (click)="print()">Print</button>
        <button id="cmd" style="float:right" class="btn btn-primary" (click)="downloadpdf();">Download Pdf</button>
    </div>
    <div class="col" style="float: right">
            
    </div>
<div class="container" id ="contentToview" style="padding-top:50px" #content>
    <div class="card">
        <div class="row " style="padding-bottom:15px">
            <div class="col-md-4">
                    <div class=" ">

                            <div style="float:left;width:0px;">
                                <img  src="../../assets/dzone_logo_square_webtreatsetc.png">
                            </div>
            
                        </div>
            </div>
            

            <div class="col-sm-4" style="float:right;margin-left: 296px">

                <div>
                    <strong>HOME EXPERTS</strong>
                </div>
                <div>3-12, Gachibowli Miyapur Road, </div>
                <div>Chhota Anjaiah Nagar, Gachibowli,</div>
                <div>Hyderabad, Telangana</div>
                <div>Mobile : 8341134567 ,994967 1300</div>
                <div>Landline: 040-65692222</div>
            </div>



        </div>
        <!-- <div class="card-header">
            Invoice
            <strong>01/01/01/2018</strong>
            <span class="float-right"> <strong>Status:</strong> Pending</span>

        </div> -->
        <div class="header">
           <p style=" font-size: 1rem"><b> Contract Agreement</b></p>
        </div>
        <div class="card-body">
            <!-- <div class="card-header">
                            Invoice
                            <strong>01/01/01/2018</strong>
                            <span class="float-right"> <strong>Status:</strong> Pending</span>
                 -->
           <div style="width:90%;float :center">
                <p style="padding-left:30px"><strong>Quotation ID:</strong> HE-RI20181</p>
            <p style="float:right;margin-top:-40px;margin-right: 52px;"><strong>Quotation Date :</strong> 29-01-2018</p>
           </div>
                
            <!-- </div> -->
            <div class="col mb-4">

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>

                    <div style="padding-left:10px"><strong>Vikas Kumar</strong></div>

                    <div style="padding-left:10px">Hyderabad</div>
                    <!-- <div></div> -->
                    <div style="padding-left:10px">Email : vikaskumar.m@imarks.in</div>
                    <div style="padding-left:10px">Mobile : 9666777182</div>
                </div>
                <div style="height:10px;"> </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>

                    <div style="padding-left:10px"><strong>BDM Name : Ramakoti</strong></div>

                    <div style="padding-left:10px">Moble Number: 9666777182</div>
                    <!-- <div>43-190 Mikolow, Poland</div> -->
                    <div style="padding-left:10px">Email Address : ramakoti.m@imarks.in</div>
                    <!-- <div>Phone: +48 123 456 789</div> -->
                </div>



            </div>
            <div>
                <p style="padding: left 20px;font-weight: 700;
    padding-left: 31px;
    font-size: 1rem;">Dear Sir/ Madam,</p>
            </div>
            <div>
                <p style="margin-left: 30px;font-size: medium;"><strong>Subject:</strong> Quotation for Residential
                    Interiors</p>
            </div>
            <div class="row "   id="nobutton" style="float:right">
                <div class="col-md-12" ></div>
                  <button id="add_row" class="btn btn-primary pull-left" style="margin-right: 50px">Add Row</button>
                  <button id='delete_row' class="pull-right btn btn-danger" style="float: right; ">Delete Row</button>
                </div>
              </div>
            <div class="table-responsive-lg ml-auto" style="padding-left: 50px ; padding-right:50px;" >
                <table class="table  table-hover" id="tab_logic">
                    <thead>
                        <tr>
                          <th class="text-center"> # </th>
                          <th class="text-center" > Product </th>
                          <th class="text-center"> Width </th>
                          <th class="text-center"> Height</th>
                          <th class="text-center"> Unit Price </th>
                          <th class="text-center"> Total </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id='addr0'>
                          <td>1</td>
                          <td><input type="text"   name='product[]'  placeholder='Enter Product Name' class="form-control" required/></td>
                          <td><input type="number" name='width[]' placeholder='Enter width' class="form-control width" step="0" min="1"/></td>
                          <td><input type="number" name='height[]' placeholder='Enter height' class="form-control height" step="0" min="1"/></td>
                          <td><input type="number" name='price[]' placeholder='Enter Unit Price' class="form-control price" step="0.00" min="1"/></td>
                          <td><input type="number" name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
                        </tr>
                        <tr id='addr1'></tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">

                </div>
               
                <div class="col-lg-4 col-sm-5 ml-auto"
                     style="padding-right: 60px">
                    <table class="table  table-hover" id="tab_logic_total">
                        <tbody>
                          <tr>
                            <th class="text-center">Basic Total</th>
                            <td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
                          </tr>
                          <tr>
                            <th class="text-center">Tax</th>
                            <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                                <input type="number" class="form-control" id="tax" placeholder="0" min="0">
                                <div class="input-group-addon">%</div>
                              </div></td>
                          </tr>
                          <tr>
                            <th class="text-center">Tax Amount</th>
                            <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
                          </tr>
                          <tr>
                            <th class="text-center">Miscellaneous
                                (if Any)
                            </th>
                            <td class="text-center"><input type="number" name='Mis_amt' id="mis_amt" placeholder="0.00" class="form-control" min="0"></td>
                        </tr>
                          <tr>
                            <th class="text-center">Grand Total</th>
                            <td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
                          </tr>
                         
                        </tbody>
                      
                    </table>

                </div>

            </div>
            <div>
                <div>
                    <p style="font-weight:600;margin-left:30px; font-size:medium"><strong>Terms & Conditions</strong></p>
                    <p style="margin-left: 30px;font-size: medium;font-weight:400"><b style="padding: 5px">*</b>Thank you very much for your enquiry!</p>
                    <p style="margin-left: 30px;font-size: medium;font-weight:400"><b style="padding: 5px">*</b>We are pleased to submit our off er as per the details give above</p>
                    <p style="margin-left: 30px;font-size: medium;font-weight:400"><b style="padding: 5px">*</b>We hope you will find our off er is inline of your requirement and looking f orward to have
                            the pleasure of receiving your valuable order.
                            </p>
                    <p style="margin-left: 30px;font-size: medium;font-weight:400"> <b style="padding: 5px">* </b>  Please feel free to contact us incase you need any f urthur clarification.
                            Assuring you of our best services always we remain</p>
                </div>

            </div>
            <div class="col-lg-3"  id="col-lg--3"style="float:right;width:300px;height:150px;margin-left: 782px;line-height: 1rem;">
                   <p>Thanks & Regards,</p> 
                   <p style="line-height: 1rem;">Home Experts</p> 
            </div>
        </div>
    </div>
   
</div>