#addressright{
    float: right
}
.container{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    padding-bottom:40px;
    padding-left:50px;
    padding-right:50px;
}
.col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin-left: 163px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: 50px;
    margin-right: 50px;
}
.header {
    background-color:rgb(189, 189, 189);
    text-align: center;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    vertical-align: middle;
    border-style: none;
    margin-left: 100px;
}
// @media screen and (min-width: 376px) {
//     .container{
//         padding-left:10px;
//         padding-right: 10px;
//     }
//  .col-sm-4{
//     margin-top: -118px;
//     margin-left: 563px;
//  }
//  .col-sm-6{
//     //  margin-right:0px;
//  }

//   }
  @media screen and (min-width: 300px){
    //   .col-sm-4{
    //       margin-top:-118px;
    //   }
      .table-bordered th, .table-bordered td {
        border: 2px solid #1a1818;
    }
  }
.card{
    padding-top:30px
}
#col-lg--3{
    margin-top:10px;
}
#col-lg--3 p{

     line-height: 1rem;
     font-weight: 900;
     font-size: larger
}
// .table-bordered th, .table-bordered td {
//     border: 2px solid #1a1818;
// }
@media print{
    .doNotPrint{display:none !important;}
    #nobutton{display:none !important;}
    .table-bordered th, .table-bordered td {
        border: 2px solid #1a1818;
    }
  }
  @media download{
    #nobutton{display:none !important;}
  }
  .tr{
      line-height: .5rem
  }